<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTFLO: about</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        #me{
            max-width: 300px
        }
    </style>
</head>
<body>
    <main id="app">
        <my-header :is-scroll-down="isScrollDown" @mobile-is-open="mobileIsOpen" @mobile-is-close="mobileIsClose"></my-header>

        <main style="overflow: hidden;">
            <!-- Content -->
            <section class="row mb-0 mt-5 layout-t">
                <main class="px-1 px-md-5">
                    <h1 class="mt-0 mt-md-5 mb-2">
                        <div class="anim-highlight">
                            <span class="t-title-2">About</span></br>
                            <span class="t-title-1">關於作者</span>
                        </div>
                    </h1>
                    <!-- Layouts -->
                    <layout-t :pars-num="content.paragraphs[0]"></layout-t>
                    <layout-i :imgs="content.figures.slice(0,1)" id-is="me"></layout-i>
                    <!-- Description -->
                    <section class="row">
                        <section class="col-12 col-md-10 my-1">
                            <h3 class="t-z-5">工作經驗</h3>
                            <ul class="list">
                                <li v-for="work of content.works">
                                    <div class="d-flex flex-column flex-md-row jcb mb-1">
                                        <span class="t-w-6">{{work.title}}</span>
                                        <span class="t-c-g">{{work.year}}</span>
                                    </div>
                                    <p v-html="work.description"></p>
                                </li>
                            </ul>
                        </section>
                        <div class="col-12 col-md-10">
                            <h3 class="t-z-5">獎項與合作</h3>
                            <ul class="list">
                                <li class="d-flex jcb" v-for="award of content.awards">
                                    <span>{{award.title}}</span>
                                    <span class="t-c-g">{{award.year}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-10">
                            <h3 class="t-z-5">教育背景</h3>
                            <ul class="list">
                                <li class="d-flex jcb" v-for="edu of content.education">
                                    <span>
                                        <b>{{edu.title}}</b>
                                        <span class="t-c-g" v-if="edu.sub">{{edu.sub}}</span>
                                    </span>
                                    <span class="t-c-g">{{edu.year}}</span>
                                </li>
                            </ul>
                        </div>
                    </section>
                </main>
            </section>
            <!-- Back to All -->
            <section class="d-flex jcc">
                <cta :large="true" url="works.html" class="por" title="To All Works" style="width: unset; min-width: unset;"></cta>
            </section>
        </main>

        <!-- Footer -->
        <my-footer></my-footer>
    </main>

    <!-- GSAP -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.js' integrity='sha512-NbdYutU8SqxAdwkioXbsw2Tr3jbPA1LCB3aQj/LkIshNnMMggYViEafkDdazPtAYklypxdjPfeG12OATLwZlnQ==' crossorigin='anonymous'></script>

    <!-- Vue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.common.dev.min.js" integrity="sha512-TpgbLHXaTCAZ7ULhjopb1PveTz5Jx6KEQUtMfXhV0m0EArh+6O8ybZjjDN1Yug6oagN6iFm6EoMjuYSiFr0qXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="assets/js/components.js"></script>
    <script>
        const vm = new Vue({
            el: "#app",
            data:{
                isScrollDown: false,
                lastScrollTop: 0,
                mobileMenuOpen: false,
                content: {
                    education: {
                        ma: {
                            title: "（就讀中）國立成功大學 創意產業設計研究所碩士",
                            sub: "媒體與互動設計組",
                            year: "2023"
                        },
                        ex: {
                            title: "日本神戶大學 人文學部研究科",
                            sub: "交換學生",
                            year: "2023"
                        },
                        ba1: {
                            title: "國立政治大學 數位內容與科技學士",
                            year: "2018"
                        },
                        ba2: {
                            title: "國立政治大學 新聞學系",
                            year: "2018"
                        },
                    },
                    awards: [
                        {
                            title: "台南三井 Outlet + UNIQLO",
                            year: "2022",
                        },
                        {
                            title: "台南設計獎 首獎",
                            year: "2021"
                        }
                    ],
                    works: [
                        {
                            title: "國家高速網路與計算中心 專案助理研究員",
                            year: "2019-2020",
                            description: `在團隊中負責繪製 UI 介面，並完成前端切版，與專案經理、工程師合作討論需求，主要負責：</br>
                                > 前端獨立切版、響應式（ＲＷＤ）設計</br>
                                > Vue.js 元件設計與製作</br>
                                > 繪製 UI 介面與流程以便溝通</br>
                                > 整理專案需求，繪製網頁架構圖`
                        }
                    ],
                    paragraphs: [
                        {
                            pars: [`畢業於政大DCT和成大ICID（媒體與互動設計），從大學開始做網頁，喜歡實現畫面和小動態。
                                    興趣是把日常生活見到的畫面畫下來，偏好不透明顏料。`]
                        }
                    ],
                    figures: [
                        {
                            url: "./assets/img/me.jpg",
                        }
                    ]
                }
            },
            methods: {
                scrollDirect(){
                    let st = window.pageYOffset || document.documentElement.scrollTop
                    if (!this.mobileMenuOpen){
                        if (st > this.lastScrollTop){
                            this.isScrollDown = true
                        } else {
                            this.isScrollDown = false
                        }
                    }else{
                        let deltaY = st - this.lastScrollTop
                        TweenMax.to(".scroll", .5, {
                            y: "-="+ deltaY*3 + "px"
                        })
                    }
                    this.lastScrollTop = st <= 0 ? 0 : st
                },
                mobileIsOpen(){
                    this.mobileMenuOpen = true
                },
                mobileIsClose(){
                    this.mobileMenuOpen = false
                }
            },
            created(){
                window.addEventListener('scroll', this.scrollDirect);
            },
            destroyed(){
                window.removeEventListener('scroll', this.scrollDirect);
            }
        })
    </script>
</body>
</html>