<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTFLO: 工事中</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        .anim-highlight>span{
            animation-delay: 1.7s;
        }
        .anim-highlight>span::after{
            animation-delay: 2s;
        }
    </style>
</head>
<body>
    <main id="app">
        <!-- Enter Animation-->
        <div class="enter-animation">
            <div>
                <span v-for="el of 3"></span>
            </div>
        </div>
        <my-header :is-scroll-down="isScrollDown" @mobile-is-open="mobileIsOpen" @mobile-is-close="mobileIsClose"></my-header>

        <main style="overflow: hidden;">
            <!-- Content -->
            <section class="row mb-0 mt-5">
                <div class="col col-12 col-md-6 pl-1 pl-md-5">
                    <h1 class="mt-0 mt-md-5 mb-2">
                        <div v-for="title of titles" class="anim-highlight">
                            <span class="t-display">{{title}}</span>
                        </div>
                    </h1>
                </div>
                <!-- Grid -->
                <div class="row w-100">
                    <cover-enter-point
                        class="col-12 col-md-6"
                        v-for="work of works"
                        :url="work.url"
                        :cover-img="work.img"
                        :cover-title="work.name"
                        :cover-hashtags="work.hashtags"
                        :cover-des="work.date"
                        :key="work.name">
                    </cover-enter-point>
                </div>
            </section>

            <!-- CTA -->
            <section class="d-flex jcc">
                <cta :large="true" url="works.html" class="por" title="All Works" style="width: unset; min-width: unset;"></cta>
            </section>
        </main>

        <!-- Footer -->
        <my-footer></my-footer>
    </main>

    <!-- GSAP -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.js' integrity='sha512-NbdYutU8SqxAdwkioXbsw2Tr3jbPA1LCB3aQj/LkIshNnMMggYViEafkDdazPtAYklypxdjPfeG12OATLwZlnQ==' crossorigin='anonymous'></script>

    <!-- Vue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.common.dev.min.js" integrity="sha512-TpgbLHXaTCAZ7ULhjopb1PveTz5Jx6KEQUtMfXhV0m0EArh+6O8ybZjjDN1Yug6oagN6iFm6EoMjuYSiFr0qXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="assets/js/components.js"></script>
    <script>
        const vm = new Vue({
            el: "#app",
            data:{
                isScrollDown: false,
                lastScrollTop: 0,
                mobileMenuOpen: false,
                titles: ['色々な色', '222222', 'sannomiya'],
                works: [
                    {
                        name: "Modern Love",
                        hashtags: ["data visualization", "p5.js"],
                        date: "2021",
                        img: "./assets/img/pj_modern_love/cover.png",
                        url: "pj_modern_love.html",
                        tags: ['design', 'code']
                    },{
                        name: "Snail Oasis",
                        hashtags: ["gamification", "PIXI.js"],
                        date: "2022",
                        img: "./assets/img/pj_snail_oasis/cover.png",
                        url: "pj_snail_oasis.html",
                        tags: ['design', 'code']
                    }
                ]
            },
            mounted(){
                let tl = gsap.timeline()
                let clip = TweenMax.to(".enter-animation", .5, {
                    opacity: 0,
                })
                tl.add(clip, 2)
            },
            methods: {
                scrollDirect(){
                    let st = window.pageYOffset || document.documentElement.scrollTop
                    if (!this.mobileMenuOpen){
                        if (st > this.lastScrollTop){
                            this.isScrollDown = true
                        } else {
                            this.isScrollDown = false
                        }
                    }else{
                        let deltaY = st - this.lastScrollTop
                        TweenMax.to(".scroll", .5, {
                            y: "-="+ deltaY*3 + "px"
                        })
                    }
                    this.lastScrollTop = st <= 0 ? 0 : st
                },
                mobileIsOpen(){
                    this.mobileMenuOpen = true
                },
                mobileIsClose(){
                    this.mobileMenuOpen = false
                }
            },
            created(){
                window.addEventListener('scroll', this.scrollDirect);
            },
            destroyed(){
                window.removeEventListener('scroll', this.scrollDirect);
            }
        })
    </script>
</body>
</html>