<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTFLO</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <main id="app">
        <my-header :is-scroll-down="isScrollDown" @mobile-is-open="mobileIsOpen" @mobile-is-close="mobileIsClose"></my-header>

        <main style="overflow: hidden;">
            <!-- Content -->
            <section class="row mb-0 mt-5">
                <div class="col-12">
                    <project-cover :project-name="project.name"></project-cover>
                </div>
                <main class="px-1 px-md-5">
                    <div class="mb-2 mb-md-1 layout-t">
                        <h1 class="t-title-1 mb-lg-1">{{project.nameCh}}</h1>
                        <h3 class="t-z-6 mt-0 mb-lg-1">{{project.name}}</h3>
                    </div>
                    <!-- Layouts -->
                    <section class="layout-t">
                        <!-- 創作背景 -->
                        <layout-t :pars-num="project.paragraphs[0]"></layout-t>
                        <!-- 設計說明 -->
                        <layout-t :pars-num="project.paragraphs[1]"></layout-t>
                        <!-- 圖片單欄 -->
                        <layout-i @popup-img="popup" :imgs="project.figures.slice(0,1)"></layout-i>
                        <!-- 收集家具 -->
                        <layout-t :pars-num="project.paragraphs[2]"></layout-t>
                        <!-- 圖片單欄 -->
                        <layout-i @popup-img="popup" :imgs="project.figures.slice(1,2)"></layout-i>
                        <!-- 圖片單欄 -->
                        <layout-i @popup-img="popup" :imgs="project.figures.slice(2,3)"></layout-i>
                        <!-- 文單欄 -->
                        <layout-t :pars-num="project.paragraphs[3]"></layout-t>
                        <!-- 圖片單欄 -->
                        <layout-i @popup-img="popup" :imgs="project.figures.slice(3,4)"></layout-i>
                        <!-- 文單欄 -->
                        <layout-t :pars-num="project.paragraphs[4]"></layout-t>
                        <!-- 圖片單欄 -->
                        <layout-i @popup-img="popup" :imgs="project.figures.slice(4,5)"></layout-i>
                        <!-- 文單欄 -->
                        <layout-t :pars-num="project.paragraphs[5]"></layout-t>
                        <!-- 圖片單欄 -->
                        <layout-i @popup-img="popup" :imgs="project.figures.slice(5,6)"></layout-i>
                        <!-- 圖片單欄 -->
                        <layout-i @popup-img="popup" :imgs="project.figures.slice(6,7)"></layout-i>
                        <!-- 文單欄 -->
                        <layout-t :pars-num="project.paragraphs[6]"></layout-t>
                        <!-- 圖片單欄 -->
                        <layout-i @popup-img="popup" :imgs="project.figures.slice(7,9)"></layout-i>
                        <!-- 文單欄 -->
                        <layout-t :pars-num="project.paragraphs[7]"></layout-t>
                        <!-- 圖片單欄 -->
                        <layout-i @popup-img="popup" :imgs="project.figures.slice(9,10)"></layout-i>
                    </section>
                </main>
            </section>
            <!-- Credits -->
            <section class="row jcc">
                <div class="col-12 col-md-6">
                    <ul class="list-info">
                        <li>{{project.info.for}}</li>
                        <li>{{project.info.media}}</li>
                        <li v-if="project.info.link">
                            <basic-link :title="project.info.link.title" :url="project.info.link.url" :highlight="false"></basic-link>
                        </li>
                        <li>{{project.info.date}}</li>
                    </ul>
                </div>
            </section>
            <!-- Popup -->
            <section>
                <div class="popup" v-if="popupShow" @click="popupShow = !popupShow">
                    <img :src="popupShowImg" alt="">
                </div>
            </section>
            <!-- Back to All -->
            <section class="d-flex jcc">
                <cta :large="true" url="works.html" class="por" style="width: unset; min-width: unset;"></cta>
            </section>
        </main>

        <!-- Footer -->
        <my-footer></my-footer>
    </main>

    <!-- GSAP -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.js' integrity='sha512-NbdYutU8SqxAdwkioXbsw2Tr3jbPA1LCB3aQj/LkIshNnMMggYViEafkDdazPtAYklypxdjPfeG12OATLwZlnQ==' crossorigin='anonymous'></script>

    <!-- Vue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.common.dev.min.js" integrity="sha512-TpgbLHXaTCAZ7ULhjopb1PveTz5Jx6KEQUtMfXhV0m0EArh+6O8ybZjjDN1Yug6oagN6iFm6EoMjuYSiFr0qXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="assets/js/components.js"></script>
    <script>
        const vm = new Vue({
            el: "#app",
            data:{
                isScrollDown: false,
                lastScrollTop: 0,
                mobileMenuOpen: false,
                popupShow: false,
                popupShowImg: undefined,
                project: {
                    name: "Snail Oasis",
                    nameCh: "蝸牛綠洲",
                    info: {
                        for: "Thesis project: Gamification Design as a way to Digital Placemaking",
                        media: "PIXI.js, Vue.js on web",
                        link: {
                            title: "Go to the project",
                            url: "https://ienming.github.io/snail-journey/"
                        },
                        date: "2022"
                    },
                    paragraphs: [
                        {
                            title: "創作背景",
                            pars: ["碩士論文畢業作品「蝸牛綠洲 Snail Oasis」。以「台南蝸牛巷」作為背景，以遊戲化設計將巷弄的人事物串連，討論以地方店家出發的認養行動，並吸引外地遊客、或與地方有親近關係的人能夠拉近與地方的聯繫、提升對地方的關注。",
                                    "設計以 PIXI.js和 Vue 做成，發佈在網路上後進行使用者問卷調查與訪談，最後訪談五位受訪者，整理遊戲化效果和用遊戲化設計進行社造的可能與挑戰，撰寫於論文中。"]
                        },{
                            title: "設計說明",
                            pars: ["「蝸牛綠洲 Snail Oasis」是一個在網頁上（主要是電腦）用滑鼠進行操作的遊戲化設計，主要任務是透過遊戲化提升使用者對地方的興趣。",
                            "玩家在進入網頁時，按照遊戲敘事被設定成即將入住綠洲的新居民，並要在綠洲內和居民聊天、探索地方、解決任務，並收集家具打造自己的小窩。"
                                ]
                        },{
                            subTitle: "收集家具",
                            pars: ["玩家主要的任務是佈置自己在綠洲中的小屋，透過和居民聊天、解鎖綠洲中的不同區域，可以解鎖特定的家具，並可獲得「蝸牛幣」購買需要的家具。",
                            "設計中，這些「蝸牛幣」也可以用於和巷弄中的實體店家合作，給予玩家折扣等，輔以其他社造活動。"
                                ]
                        },{
                            subTitle: "探索區域",
                            pars: ["為了要解鎖全部傢俱，玩家需要和居民對話以解鎖不同區域。「蝸牛綠洲」中有三個區域，依照蝸牛巷的特色區分為「文學」、「甜點」與「傳統職人」。",
                                ]
                        },{
                            pars: ["透過用滑鼠和居民互動，玩家可以了解地方的歷史和故事，同時也能回答一些小問答。有興趣的人，可以透過超連結再前往更專業的文史調查資料網站。"]
                        },{
                            title: "製作背景",
                            subTitle: "角色美術設計",
                            pars: ["綠洲中的所有角色都是蝸牛，在一個蝸牛居住的世界，角色們基於台南蝸牛巷的特色，設計出不同的造型，以呼應地方。",
                                ]
                        },{
                            subTitle: "架構設計",
                            pars: ["在開始設計前，運用卡片排列方法整理遊戲化設計想要達成的目標，並依照不同子類別進行分類，釐清整個設計所需功能與架構。",
                                ]
                        },{
                            title: "結語",
                            pars: ["設計完成後以遊戲化八角理論進行使用者訪談，並依序檢驗遊戲化設計的成效，透過訪談整理使用者認為此設計對於地方社造可能產生的衝擊，並撰寫於論文中。",
                                ]
                        }
                    ],
                    figures: [
                        {
                            url: "./assets/img/pj_snail_oasis/map.png",
                            figcaption: '「蝸牛綠洲」將使用者設定成即將入住綠洲的新居民，此為綠洲的全貌。'
                        },{
                            url: "./assets/img/pj_snail_oasis/coin.png",
                            figcaption: '遊戲設計中的「蝸牛幣」',
                            mxw: 140
                        },{
                            url: "./assets/img/pj_snail_oasis/home_full.png",
                            figcaption: '獲得蝸牛幣後可以在小屋裡換取家具，其中也有蝸牛造型的特殊設計。'
                        },{
                            url: "./assets/img/pj_snail_oasis/badges.png",
                            figcaption: '蝸牛綠洲中依照蝸牛巷的特色分為三個區域。'
                        },{
                            url: "./assets/img/pj_snail_oasis/quiz_2.png",
                            figcaption: '與居民對話可以得到和地方相關的文史小知識和問答活動。'
                        },{
                            url: "./assets/img/pj_snail_oasis/characters.png",
                            figcaption: '綠洲中的角色們，呼應台南蝸牛巷的特色有不同的造型設計。'
                        },{
                            url: "./assets/img/pj_snail_oasis/houses.png",
                            figcaption: '根據巷弄中的特色與店家所設計的綠洲中的房子。'
                        },{
                            url: "./assets/img/pj_snail_oasis/idea_1.jpeg",
                            figcaption: '發想過程中針對「成就」所想的可能呈現。'
                        },{
                            url: "./assets/img/pj_snail_oasis/idea_2.jpeg",
                            figcaption: '發想過程中討論要如何呈現「地方」相關的文史內容。'
                        }
                    ]
                }
            },
            methods: {
                scrollDirect(){
                    let st = window.pageYOffset || document.documentElement.scrollTop
                    if (!this.mobileMenuOpen){
                        if (st > this.lastScrollTop){
                            this.isScrollDown = true
                        } else {
                            this.isScrollDown = false
                        }
                    }else{
                        let deltaY = st - this.lastScrollTop
                        TweenMax.to(".scroll", .5, {
                            y: "-="+ deltaY*3 + "px"
                        })
                    }
                    this.lastScrollTop = st <= 0 ? 0 : st
                },
                mobileIsOpen(){
                    this.mobileMenuOpen = true
                },
                mobileIsClose(){
                    this.mobileMenuOpen = false
                },
                popup(el){
                    this.popupShow = true
                    this.popupShowImg = el
                }
            },
            created(){
                window.addEventListener('scroll', this.scrollDirect);
            },
            destroyed(){
                window.removeEventListener('scroll', this.scrollDirect);
            }
        })
    </script>
</body>
</html>