.enter-animation
    display: flex
    justify-content: center
    align-items: center
    background-color: $base
    z-index: 99
    position: fixed
    +size(100vw, 100vh)
    pointer-events: none
    transform-origin: left
    >img
        width: 250px

.list-info
    margin: 1rem 0
    padding: 6px 0 10px 10px
    border-left: 3px solid #000
    li
        margin-bottom: 8px
        padding-bottom: 4px
        border-bottom: 1px solid $tertiaryGrey

.pj-cover
    height: 60vh
    background-size: cover
    background-position: center
    margin: 30px 0
    +rwd(md)
        margin: 30px 0 60px 0

.list
    @extend .list-info
    border: none
    padding: 6px 12px 6px 0