@import './_animation'

figcaption
    border-left: 1.5px solid #000
    padding-left: 8px

.enter-animation
    display: flex
    justify-content: center
    align-items: center
    background-color: $black
    z-index: 99
    position: fixed
    +size(100vw, 100vh)
    pointer-events: none
    transform-origin: left
    div
        position: relative
    span
        display: inline-block
        +size(25vw, 8px)
        max-width: 100px
        position: relative
        animation: loadingRightMove 1.2s infinite
        &:nth-child(1)
            left: 75px
            background-color: $mainTer
        &:nth-child(2)
            background-color: $mainDark
            animation-delay: .1s
        &:nth-child(3)
            left: -75px
            background-color: $base
            animation-delay: .2s

.list-info
    margin: 12px
    padding: 6px 0 10px 10px
    border-left: 3px solid #000
    +rwd(md)
        margin: 1rem 0
    li
        margin-bottom: 8px
        padding-bottom: 8px
        border-bottom: 1px solid $tertiaryGrey

.pj-cover
    height: 60vh
    background-size: cover
    background-position: center
    margin: 30px 0
    +rwd(md)
        margin: 30px 0 60px 0

.list
    @extend .list-info
    border: none
    padding: 6px 12px 6px 0