/* Custom */
.txt-slot-container{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;
}

.txt-slot-container .txt-slot:nth-child(2){
    position: absolute;
    top: 100%;
    width: max-content;
}

.txt-slot{
    transition: .2s ease-out;
}

.txt-slot-hover{
    --slot-offset: -115%;
}

.txt-slot-hover:hover .txt-slot{
    transform: translateY(var(--slot-offset));
}

.txt-slot-hover:hover .txt-slot:nth-child(1){
    opacity: 0;
}