/* Custom */
.txt-slot-container{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;
}

.txt-slot-container .txt-slot:nth-child(2){
    position: absolute;
    top: 100%;
}

.txt-slot{
    transition: .2s ease-out;
}

.txt-slot-hover{
    --slot-offset: -113%;
}

.txt-slot-hover:hover .txt-slot{
    transform: translateY(var(--slot-offset));
}

.txt-slot-hover:hover .txt-slot:nth-child(1){
    opacity: 0;
}

/* Vue transition */
.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}