/* Typography */
@layer components{
  .fs-d1{
    @apply font-display font-thin text-4xl lg:text-5xl;
  }
  .fs-d2{
    @apply font-display font-thin text-3xl lg:text-4xl;
  }
  .fs-h1{
    @apply font-serif font-semibold text-4xl;
  }
  .fs-h2{
    @apply font-serif font-bold text-xl lg:text-3xl;
  }
  .fs-h3{
    @apply font-display font-light text-3xl;
  }
  .fs-h4{
    @apply font-sans font-semibold text-base lg:text-2xl;
  }
  .fs-small{
    @apply font-sans text-sm;
  }
  .dynamic-color{
    background-color: var(--luc-dynamic-bg-color);
    color: var(--luc-dynamic-text-color);
    transition: background-color .3s, color .3s;
    &:not(.no-hover):hover{
      background-color: var(--luc-dynamic-text-color);
      color: var(--luc-dynamic-bg-color);
    }
  }
  .dynamic-color-reverse{
    background-color: var(--luc-dynamic-text-color);
    color: var(--luc-dynamic-bg-color);
    transition: background-color .3s, color .3s;
    &:not(.no-hover):hover{
      background-color: var(--luc-dynamic-bg-color);
      color: var(--luc-dynamic-text-color);
    }
  }
  .draw-svg-line{
    animation: draw-svg-line 2s ease-in-out forwards;
  }
}

@keyframes draw-svg-line{
  to {
    stroke-dashoffset: 0;
  }
}

/* Txt slot */
.txt-slot-container{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;
}

.txt-slot-container .txt-slot:nth-child(2){
    position: absolute;
    top: 100%;
}

.txt-slot{
    transition: .2s ease-out;
}

.txt-slot-hover{
    --slot-offset: -113%;
}

.txt-slot-hover:hover .txt-slot{
    transform: translateY(var(--slot-offset));
}

.txt-slot-hover:hover .txt-slot:nth-child(1){
    opacity: 0;
}

/* Vue transition */
.list-move,
.list-enter-active,
.list-leave-active {
  transition: opacity 0.3s ease, transform .8s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scale(0.3) rotate(-60deg);
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active, .fade-leave-active {
  position: absolute;
}